<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그파일 저장 경로 -->
    <property name="LOG_DIR" value="./var/letcipe/log"/>

    <!-- CONSOLE LOG -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{traceId}] %-5level %logger{36}.%M - %msg%n-->
            <pattern>
                [%-5level] [%d{yyyy-MM-dd HH:mm:ss}] [%logger{36}.%M] [%msg]%n
            </pattern>
        </encoder>
    </appender>
    <!-- APILOG -->
    <appender name="API_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/api/apilog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] [%d{yyyy-MM-dd HH:mm:ss}] [%msg]%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/api/%d{yyyy-MM-dd,aux}/apilog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- // APILOG -->
    <!-- CARTLOG -->
    <appender name="CART_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/cart/cartlog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] [%d{yyyy-MM-dd HH:mm:ss}] [%msg]%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/cart/%d{yyyy-MM-dd,aux}/cartlog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- // CARTLOG -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.ssafy.letcipe.api.aop.LoggerAspect" level="info" additivity="false">
        <appender-ref ref="API_LOG" />
    </logger>
    <logger name="com.ssafy.letcipe.api.service.CartService" level="info" additivity="false">
        <appender-ref ref="CART_LOG" />
    </logger>


</configuration>
